.logo {
    display: flex;
    
}

.box {
    display: flex;
    width: 50%;
}

.menu {
    background-color: black;
    margin: 10px 0 10px 0;
    padding: 20px 20px 20px 20px;
    color:aliceblue;
} 


.boite {
    height: auto;
    display: flex;
   
} 

section {
    width: 70%;
}

.colonne {
    height: auto;
    width: 30%;
    background-color: darkgrey;
} 

h2 {
    font-weight: bold; 
    font-size:200%;
    font-weight: normal;
    padding-bottom: 5px; 
} 

footer {
    width: 100%;
}

.bas {
    background-color: black;
    margin: 10px 0 10px 0;
    padding: 20px 20px 20px 20px;
    color:aliceblue;
    display: flex;
} 


@media screen and (max-width: 768px){
    .logo, .bas > p {
        flex-wrap: wrap;
    }
    .logo, .accueil, .bas, .boite, .box, .colonne, .logo, .menu >p {
        font-size: 100%;
    }
    .colonne {
        visibility: hidden;
        display: none;
    }
    .boite {
        width: 100%;
    }
}


